* {
    margin:  0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 { font-size: 4.5em }
h2 { font-size: 1.8em }
p  { font-size: 1.0em }

[role="button"] { cursor: pointer; }
[aria-sort="ascending"] { position: relative; }
[aria-sort="ascending"]::after {
    content: " ";
    border-bottom: 0.4em solid black;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    position: absolute;
    right: 0em;
    top: 0.5em;
}
[aria-sort="descending"] { position: relative; }
[aria-sort="descending"]::after {
    content: " ";
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.4em solid black;
    position: absolute;
    right: 0em;
    top: 0.5em;
}
